<html>
  <head>
    <title>Spoetry</title>
    
    <style type="text/css">
      div.mainbody
      {
      width:70%;
      padding:10px;
      border:5px solid gray;
      margin:0px;
      margin-left: auto;
      margin-right: auto;      
      }
    </style>
  </head>
  
  <body>
    <div class="mainbody">
    <h1>Spoetry</h1>

    <form method="post" action="/spoetry/">
      Linguism to musicology:<br/>
      {{ form.text }}<br/>
        {{form.errors.text}}

      {{ form.maxngram.label }}:</br>
      {{ form.maxngram }}
      {{form.errors.maxngram}}
      <br/>  
      <input type="submit" value="Spotificate!" />
    </form>
    
    
    {% if text %}
      <p>
        <strong>Your poem</strong></br>
        <pre>{{text}}</pre>
      </p>
    {% endif %}
    {% if results %}
      <p>
        <strong>Surprise poem</strong><br/>
        <br/>
        {% for line in results %}
          {% for result in line %}
            {% if result.track.trackname %}
              <a href="{{result.track.trackhref}}">{{result.track.trackname}}</a>
            {% else %}
              {{result.query}}
            {% endif %}
          {% endfor %}
          <br/>
        {% endfor %}
      </p>
    {% endif %}
    </div>   
  </body>
</html>
